
.header{
    /*float: center; /* Обтекание по правому краю */
    text-align: center;
    background:whitesmoke; /* Цвет фона */
    padding: 20px; /* Поля вокруг текста */
    margin-bottom: 20px; /*отступ снизу*/
    margin-left: 150px;
    margin-right: 150px;
     /* Ширина блока */    
}

.nav {
    text-align: center;
    background:whitesmoke; 
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.aside{
    text-align: center;
    float: right;
    width: 30%;
    height: 200px; /* could be any value */
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    background:whitesmoke;
    margin-right: 150px;
}

.section{
    text-align: center;
    float: left;
    width: 40%;
    height: 200px; /* could be any value */
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    background:whitesmoke;

}
.article{ 
    width: 560px;
    height: 160px; /* could be any value */
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    background:grey;
    
}

.h{
    text-align: center;
    font-weight:bold;
    width: 93%;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background:whitesmoke;
}

.p{
    text-align: center;
    width: 93%;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background:whitesmoke;
}

.footer{
    text-align: center;
    padding: 20px;
    clear: both;
    background:whitesmoke;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}